name: cve-trivy-scan

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Recommended: Run weekly to catch new CVEs discovered in existing images
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read


jobs:
  scan:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results

    name: Build and Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build local image for scanning
        run: |
          docker build -t go-log-scythe:test .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'go-log-scythe:test'
          severity: 'MEDIUM,CRITICAL,HIGH'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
